.buttons{
    display: grid;
    justify-content: center;
grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    font-size: x-large;
}
.buttons div{
    align-self: center;
}
.buttons span {
    align-self: ;
}