.buttons{
    display: grid;
    justify-content: center;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(5, 1fr);
    gap: 30px;
    font-size: x-large;
}
.buttons span{
    background-color: rgb(147, 153, 158);
    color: white;
    padding: 10px;
    
}
.buttons div{
    align-self: center;
}
.buttons div:nth-child(18){
    grid-column: 3;
}
.buttons div:nth-child(17){
    grid-column: 1/3;
}
.buttons button {
    grid-row: 4/6;
    grid-column: 4;
}